BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "TEST" SITE "8" ;
LOCATE COMP "NTSC_PIXCLK" SITE "10" ;
LOCATE COMP "NTSC_SUBCARRIER" SITE "9" ;
LOCATE COMP "PAL_SUBCARRIER" SITE "11" ;
LOCATE COMP "PAL_PIXCLK" SITE "12" ;
