BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED[0]" SITE "4" ;
LOCATE COMP "LED[1]" SITE "5" ;
LOCATE COMP "LED[2]" SITE "8" ;
LOCATE COMP "LED[3]" SITE "9" ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "DIFFIN0" IO_TYPE=LVDS25 ;
IOBUF PORT "DIFFIN1" IO_TYPE=LVDS25 ;
IOBUF PORT "DIFFIN2" IO_TYPE=LVDS25 ;
IOBUF PORT "DIFFIN3" IO_TYPE=LVDS25 ;
LOCATE COMP "DIFFIN0" SITE "28" ;
LOCATE COMP "DIFFIN1" SITE "26" ;
LOCATE COMP "DIFFIN2" SITE "21" ;
LOCATE COMP "DIFFIN3" SITE "16" ;
LOCATE COMP "LED[4]" SITE "10" ;
LOCATE COMP "LED[5]" SITE "11" ;
LOCATE COMP "LED[6]" SITE "12" ;
LOCATE COMP "LED[7]" SITE "13" ;
LOCATE COMP "LED[8]" SITE "14" ;
VOLTAGE 3.300 V;
SYSCONFIG JTAG_PORT=ENABLE MUX_CONFIGURATION_PORTS=DISABLE ;
