BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED[0]" SITE "4" ;
LOCATE COMP "LED[1]" SITE "5" ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DIFFIN0" IO_TYPE=LVDS25 ;
LOCATE COMP "DIFFIN0" SITE "28" ;
VOLTAGE 3.300 V;
SYSCONFIG JTAG_PORT=ENABLE MUX_CONFIGURATION_PORTS=DISABLE ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
