BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK10" SITE "28" ;
LOCATE COMP "B[0]" SITE "20" ;
LOCATE COMP "B[1]" SITE "21" ;
LOCATE COMP "G[0]" SITE "23" ;
LOCATE COMP "HS" SITE "17" ;
LOCATE COMP "VS" SITE "16" ;
LOCATE COMP "G[1]" SITE "25" ;
LOCATE COMP "R[0]" SITE "26" ;
LOCATE COMP "R[1]" SITE "27" ;
