BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED[0]" SITE "4" ;
LOCATE COMP "LED[1]" SITE "5" ;
LOCATE COMP "LED[2]" SITE "8" ;
LOCATE COMP "LED[3]" SITE "9" ;
LOCATE COMP "LED[4]" SITE "10" ;
LOCATE COMP "LED[5]" SITE "11" ;
LOCATE COMP "LED[6]" SITE "12" ;
LOCATE COMP "LED[7]" SITE "13" ;
LOCATE COMP "LED[8]" SITE "14" ;
LOCATE COMP "LED[9]" SITE "16" ;
LOCATE COMP "LED[10]" SITE "17" ;
LOCATE COMP "LED[11]" SITE "20" ;
LOCATE COMP "LED[12]" SITE "21" ;
LOCATE COMP "LED[13]" SITE "23" ;
LOCATE COMP "LED[14]" SITE "25" ;
LOCATE COMP "LED[15]" SITE "26" ;
LOCATE COMP "LED[16]" SITE "27" ;
LOCATE COMP "LED[17]" SITE "28" ;
VOLTAGE 2.375 V;
SYSCONFIG MCCLK_FREQ=2.08 ;
