BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MCCLK_FREQ=2.08 ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PLL3CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PLLCLK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "CLK" SITE "12" ;
LOCATE COMP "PLLCLK" SITE "13" ;
LOCATE COMP "PLL3CLK" SITE "14" ;
