BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK10" SITE "23" ;
LOCATE COMP "VID0" SITE "28" ;
LOCATE COMP "VID2" SITE "21" ;
LOCATE COMP "OUTPATTERN[3]" SITE "9" ;
LOCATE COMP "OUTPATTERN[2]" SITE "8" ;
LOCATE COMP "OUTPATTERN[1]" SITE "5" ;
LOCATE COMP "VID3" SITE "16" ;
LOCATE COMP "VID1" SITE "26" ;
LOCATE COMP "OUTPATTERN[0]" SITE "4" ;
LOCATE COMP "OUTPATTERN[4]" SITE "10" ;
LOCATE COMP "OUTPATTERN[5]" SITE "11" ;
LOCATE COMP "OUTPATTERN[6]" SITE "12" ;
LOCATE COMP "OUTPATTERN[7]" SITE "13" ;
IOBUF PORT "VID0" IO_TYPE=LVDS25 ;
IOBUF PORT "VID1" IO_TYPE=LVDS25 ;
IOBUF PORT "VID2" IO_TYPE=LVDS25 ;
IOBUF PORT "VID3" IO_TYPE=LVDS25 ;
