BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "VIDEO" IO_TYPE=LVCMOS25 ;
LOCATE COMP "CLK10" SITE "28" ;
LOCATE COMP "CSYNC" SITE "4" ;
LOCATE COMP "VIDEO" SITE "5" ;
LOCATE COMP "TESTCLK[0]" SITE "14" ;
LOCATE COMP "TESTCLK[1]" SITE "13" ;
LOCATE COMP "TESTCLK[2]" SITE "12" ;
LOCATE COMP "TESTCLK[3]" SITE "11" ;
LOCATE COMP "PIXELCLK" SITE "8" ;
