BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "DIFFIN0" IO_TYPE=LVDS25 ;
LOCATE COMP "DIFFIN0" SITE "28" ;
LOCATE COMP "CLK" SITE "21" ;
LOCATE COMP "LED[0]" SITE "14" ;
LOCATE COMP "LED[1]" SITE "13" ;
LOCATE COMP "LED[2]" SITE "12" ;
LOCATE COMP "LED[3]" SITE "11" ;
LOCATE COMP "LED[4]" SITE "10" ;
LOCATE COMP "LED[5]" SITE "9" ;
LOCATE COMP "LED[6]" SITE "8" ;
LOCATE COMP "LED[7]" SITE "5" ;
LOCATE COMP "LED[8]" SITE "4" ;
LOCATE COMP "TRIGGER" SITE "25" ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TRIGGER" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
